<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <main class="container">
            <div class="listContainer">
                <% include ../static/partials/messages.ejs %>
                <div class="addNew">                
                    <a href="/lists/new">
                        <div>
                            <img src="/icons8-plus.svg" alt="add new list" id="addNew">
                            <div>
                                <p>New list!</p>
                            </div>
                        </div>
                    </a>
                </div>
                <% if(lists) { %>
                    <div class="itemContainer">
                        <% lists.forEach((list) => { %>   
                            <div class="item">
                                <a href="/lists/<%= list.id %>">
                                    <h5><%= list.title %></h5>
                                </a>
                                <div class="form-inline">
                                    <form action="/lists/<%= list.id %>/access" method="post" class="form-inline">
                                        <input type="text" class="form-control" id="addAccessInput" name="email" aria-describedby="emailHelp" placeholder="Email to grant access">
                                        <button type="submit" class="btn btn-outline-primary btn-sm">Add</button>
                                    </form>
                                    <form action="/lists/<%= list.id %>/destroy" method="get">
                                        <button type="submit" class="btn btn-outline-primary btn-sm">Delete list</button>
                                    </form>
                                </div>
                                <p>Last updated: <%= list.lastUpdated %></p>   
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>