<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <main class="container">
            <% include ../static/partials/messages.ejs %>
                <div class="card" style="width: 70rem; height: 9rem">
                    <a href="/lists/<%= listId %>/newitem">
                        <div class="card-body">
                            <img class="card-img-top" src="/icons8-plus.svg" style="width: 3rem; padding-left: 1rem;" alt="add new list" id="addNew">
                            <p class="card-text">Add item</p>
                        </div>
                    </a>
                </div>
                <% items.forEach((item) => { %>
                    <div class="card" style="width: 70rem; height: 9rem;">
                        <div class="card-body">
                            <p><h5><%= item.item %></h5>  
                                Max Cost: $<%= item.max %></br>
                                <div class="button-container">
                                <form action="/lists/<%= listId %>/purchased/<%= item.id %>" method="get">
                                    <% if(item.purchased) { %>
                                        <button type="submit" class="btn" style="border: none;"><img src="/icons8-ok.svg" style="width: 2rem;" alt="purchased"></button>
                                    <% } else { %>
                                        <button type="submit" class="btn"><img src="/icons8-checkmark.svg"></button>
                                    <% } %>
                                </form>
                                <form action="/lists/<%= listId %>/edit/<%= item.id %>" method="get">
                                    <button type="submit" class="btn btn-sm">Edit</button>
                                </form>
                                <form action="/lists/<%= listId %>/destroy/<%= item.id %>" methode="get">
                                    <button type="submit" class="btn btn-sm">Delete</button>
                                </form>  
                                </div>           
                            </p>
                        </div>
                    </div>
                <% }) %>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
        
    </body>
</html>